#searchField{
  padding:10px;
}

h2 {
    margin-top: .7rem;
    text-align: center;
}

p {
    margin-top: .7rem;
    text-align: center;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
}

#grid {
  grid-template-columns: 20fr 60fr 20fr;
  /* position: absolute; */
}

#two {
  grid-column: 2
}

/* a:hover {
  background-color: aqua;
} */

#sticky-footer {
  flex-shrink: none;
}