#searchField{
  padding:10px;
}

h2 {
    margin-top: .7rem;
    text-align: center;
}

p {
    margin-top: .7rem;
    text-align: center;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  grid-template-columns: 20px auto 20px;
  position: absolute;
}

/* a:hover {
  background-color: aqua;
} */

.modal-full {
  min-width: 20%;
  margin-left: 80;
}

.modal-full .modal-content {
  min-height: 100vh;
}